<div class="container">
  <div class="panel panel-primary" >
    <div class="panel-heading">List des contacts</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Mot clé: </label>
        <input type="text" [(ngModel)]="motcle"/>
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>

      </div>
      <table class="table table-striped">
        <tr>
        <th>ID</th><th>Nom</th><th>Prénom</th><th>Date de naissance</th><th>Email</th><th>Tel</th><th>Photo</th>
        </tr>
        <tr *ngFor="let c of pageContacts?.content">
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.dateNaissance}}</td>
          <td>{{c.email}}</td>
          <td>{{c.tel}}</td>
          <td>{{c.photo}}</td>
          <td><a (click)="OnEditContact(c.id)" class="clickable">Edit</a></td>
          <td><a (click)="OnDeleteContact(c)" class="clickable">Delete</a></td>

        </tr>
      </table>
      <div class="container">
        <ul class="nav nav-pills">
        <li [ngClass]="{'active': i==currentPage}" *ngFor="let p of pages; let i=index">
          <a class="clickable" (click)="goToPage(i)">
            {{i+1}}
          </a>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
