<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">Recherche de photo</div>
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="formSpace">
      <div class="form-inline">
        <label class="control-label ">Mot clé :</label>
        <input class="form-control spaceH" type="text" name="motCle" ngModel required [(ngModel)]="motCle"/>
        <button type="submit" class="btn btn-primary spaceH" >Recherche</button>
      </div>
    </form>
    <div class="row">
    <div *ngFor="let photo of pagePhotos?.hits;" class="col-md-3 col-lg-3 ">
      <div class="panel panel-primary cadre">
        <div class="panel-heading">
          <img class="img-circle" src="{{photo.userImageURL}}" width="50px" height="50px">
          <p>User : {{photo.user}}</p>
        </div>
        <div class="panel-body">
          <div>

            <p>Tags : {{photo.tags}}</p>
          </div>
          <img src="{{photo.previewURL}}">
        </div>
      </div>

    </div>
    </div>
    <div class="row">
    <div>
      <ul class="nav nav-pills">
        <li [ngClass]="{'active': i+1==currentPage}" *ngFor="let p of pages; let i=index;">
          <a class="clickable" (click)="goToPage(i)">{{i+1}}</a>
        </li>
      </ul>
    </div>
    </div>

  </div>

</div>

</div>
