<div class="container">
<p>Welcome To App!!</p>
<div class = "btn-toolbar space">
  <button class="btn btn-primary" routerLink= '/about'>About</button>
  <button class="btn btn-primary" routerLink= '/contact'>Contacts</button>
  <!--<button class="btn btn-primary" routerLink= '/new-contact'>Nouveau Contact</button>-->
  <button class="btn btn-primary" routerLink= '/nouveau-contact'>Nouveau Contact</button>
  <button class="btn btn-primary" routerLink= '/gallery'>Gallery</button>
  <button class="btn btn-primary" routerLink= '/categories'>Categories</button>
  <button class="btn btn-primary" routerLink= '/new-category'>Nouveau category</button>
</div>
<!--<app-about></app-about> -->
<router-outlet>
</router-outlet>

  <app-form-upload></app-form-upload>
  <br/>
  <br/>

  <app-list-upload></app-list-upload>
</div>

